body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transparent_button:hover, .transparent_button:focus,.transparent_button{
  background-color: rgba(0, 0, 0, 0.53);
  border-color: #694730;
  color:#f5cc86 ;
  font-size: 15px;
}
.transparent_button::placeholder {
  color:#f5cc86 ;
}
.svg_button{
  cursor: pointer;
}