.login_main{
   /* background-image: url("../../assets/img/loginscreen_background.jpg");*/
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#login_form{
    background-image: url("../../assets/img/wood.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid !important;
    border-color: #694730 !important;
    border-width: 3px !important;
}
.row-without-margin{
    margin-right: 0px;
    margin-left: 0px;
}