
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body, html {
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute; top: 0; left: 0;
  margin: 0;
  padding: 0;
}




#root{
  height: 100%;
  width: 100%;
  position: absolute; top: 0; left: 0;
}
.main{
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute; top: 0; left: 0;
}

#svg_conent{
  height: 100%;
  width: 100%;
 
}

.Main_number_text{
  font-family: 'Pattaya', sans-serif;
}
.level_text{
  font-family: 'Pattaya', sans-serif;
}
.status_text{
  font-size: 2px;
  font-family: 'Poppins', sans-serif;
}

.successFailText{
  font-size: 2px;
  text-shadow: 2px 2px #000000;
  font-family: 'Poppins', sans-serif;
}

.good_number{
  font-size: 0.15rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.evil_number{
  font-size: 0.15rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.person_name{
  font-size: 0.12rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.normal_text{
  color: white;
  margin-bottom: 0rem;
}
.url_link_test{
  color: white;
  margin-bottom: 0rem;
  font-size: 14px;
  height: fit-content;
}
#connection_ball{
  border-radius: 50px;
  width: 10px;
  height: 10px;
  display: inline-flex;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin-left: 5px;
  margin-top: 3px;

}

@media (min-width: 767px) {

.Column {
  display: table-cell;
 
}
.co-3{
  width: 15%;
}
}

.accept_reject_model{
  text-align: center ;
}
@media (min-width: 576px) {
.accept_reject_model{
  max-width: fit-content;
 
}
.center_button_div{
  padding-left: 40px;
  padding-right: 0px;
}



}

@media (max-width: 576px) {

  .center_button_div{
    padding-right: 45px;
  }
  #exampleFormControlTextarea1 {
    height: 100px;
    background-color: transparent;
    border: none;
    overflow: scroll;
  
  }



  }


  .main-row{
    margin-right: 0px;
    margin-left: 0px;
  }


  .gamejoin_modal{
    background-image: url("./images/model_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-radius: 3px;
  border-width: 4px;
  border-color: #694730;
  }

 

  .transparent_button:hover, .transparent_button:focus,.transparent_button{
    background-color: #0000009e;
    border-color: #694730;
    color:#f5cc86 ;
    font-size: 15px;
  }
  .transparent_button::placeholder {
    color:#f5cc86 ;
  }


.hide_show_button{
  background-color: #512915;
  border-color: #704223;
  color:#f5cc86 ;
  font-size: 12px;
}

.hide_show_button:hover,.hide_show_button:focus{
  background-color: #512915;
  border-color: #704223;
  color:#f5cc86 ;
  font-size: 12px;
}




.textOn_wood{
  color:#f5cc86 ;
}
 
.approve_button{
  background-image: url("./images/approve_button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 80px;
  border-radius: 8px;
  margin: 5px;
}
.reject_button{
  background-image: url("./images/reject_button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 80px;
  border-radius: 8px;
  margin: 5px;
}
.approve_button:hover ,.reject_button:hover{
  cursor: pointer;
  border-style: solid;
  border-color: #4e2511;
  border-width: 2px;
}


.success_button{
  background-image: url("./images/success_button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 115px;
  width: 80px;
  border-radius: 8px;
  margin: 5px;
}

.fail_button{
  background-image: url("./images/fail_button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 115px;
  width: 80px;
  border-radius: 8px;
  margin: 5px;
}
.success_button:hover, .fail_button:hover{
  cursor: pointer;
  border-style: solid;
  border-color: #4e2511;
  border-width: 2px;
}

.win_text{
 /* font-family: 'Pattaya', sans-serif;*/
  font-family: 'Dancing Script';
  font-size: 25px;
  color: #ffcf2f;
  text-shadow: 2px 2px #000000;
}

.menu_button{
  background-image: url("./images/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.left_menu_button{
  background-image: url("./images/left_button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 30px;
  cursor: pointer;
}


.list-group-item {
 
  padding: 0.5rem 0.5rem;
}

.quest:hover{
  cursor: pointer;
  height: 9px;
  y: 40.5;
 
}

.svg_button:hover {
  height: 5.2px;
  width: 10.3px;
  x: 44.8;
  y: 52.8;
}

.leftmenuIcons{
border-style: solid;
width: 41px;
border-color:transparent;
}
.leftmenuIconsActive{
  border-style: solid;
  width: 41px;
  border-color: #09a1c2;
  }

  .notice_borad{
    background-image: url("./images/model_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-radius: 3px;
    border-width: 4px;
    border-color: #694730;
    height: 134px;
    
    padding: 0px;
  }

  textarea.form-control {
    height: auto;
    background-color: transparent;
    border: none;
    overflow: hidden;

  }

  #exampleFormControlTextarea1{ 
    color: #f5cc86; 
} 
 #exampleFormControlTextarea1::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f5cc86; 
} 
#exampleFormControlTextarea1::-webkit-inline-placeholder{
  color: #f5cc86; 
}
#exampleFormControlTextarea1::-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f5cc86; 
} 
#exampleFormControlTextarea1::-ms-input-placeholder { /* Microsoft Edge */ 
    color:#f5cc86; 
} 


#exampleFormControlTextarea1:focus {
  background-color: transparent;
}

